body{
   height: 400px;
   
 background:url("illustration-city-anime-painting-wallpaper-thumb.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.reg h3{
   text-align: center;
   color:antiquewhite;
}
.reg .txt{
   display: block;
   color: rgb(235, 235, 241);
}
.reg{
   color: aliceblue;
   padding:10px 20px 30px;
   width: 600px;
   margin: 300px auto;
   background-color: rgb(0, 0,0,.5);
   border-radius: 10px;
   font-size: 20px;
}
.input input{
  
   border:1px solid bisque;
   box-shadow: 2px;
   border-radius: 8px;
   padding:5px 5px;
   box-sizing: border-box;
   margin:5px 0px;
}
input:focus{
   background-color: pink;
}
.btn{
   text-align: center;
}
button{
   background-color: pink;
   font-size: 20px;
   color: rgb(44, 44, 54);
  padding: 15px 25px;
  border-radius: 8px;
  border:1px solid palevioletred;
}
.radio input{
   accent-color: rgb(185, 36, 61);
    
}
